<div class="container">

    @foreach (var historico in Model)
    {
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-8">
                <span class="font-weight-bold">Data do Contato: </span> <span>@(historico.DataContato == null ? "(Não Realizado)" : historico.DataContato.ToString("dd/MM/yyyy"))</span>
            </div>
            @*<div class="col-4">
                <span class="font-weight-bold">Vendedor: </span> <span class="text-uppercase">@historico.NomeVendedor</span>
            </div>*@
        </div>

        @*<div class="row form-group">
            <div class="col-12">
                <span class="font-weight-bold">Cliente: </span> <span class="text-uppercase">@historico.NomeCliente</span>
            </div>
        </div>*@

        <div class="row form-group">
            <div class="col-12">
                <span class="font-weight-bold">Fornecedor: </span> <span class="text-uppercase">@historico.NomeFornecedor</span>
            </div>
        </div>

        @*<div class="row form-group">
            <div class="col-6">
                <span class="font-weight-bold">Data da Compra: </span><span>@(historico.DataCompra == null ? "(Não Realizado)" : historico.DataCompra.ToString("dd/MM/yyyy"))</span>
            </div>
            <div class="col-6">
                <span class="font-weight-bold">Data do Agendamento: </span><span>@(historico.DataAgenda == null ? "(Não Realizado)" : historico.DataAgenda.ToString("dd/MM/yyyy"))</span>
            </div>
        </div>*@
        <div class="row form-group">
            <div class="col-8">
                <span class="font-weight-bold">Negociação</span>
                <span>@historico.Negociacao</span>
            </div>
            @*<div class="col-4">
                <span class="btn btn-outline-primary"><i class="fa fa-edit"></i></span>
                <span class="btn btn-outline-danger"><i class="fa fa-trash"></i></span>
            </div>*@
        </div>

        <hr class="border-dark" />
    </div>

    
    }

</div>
