<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>GE Representações Ltda.</title>

    @Styles.Render("~/BundleStyles/cssfiles")
    

</head>

<body>

    <nav class="navbar navbar-expand-md  navbar-expand-sm navbar-dark bg-dark fixed-top">
        <span class="text-warning text-sm-left" style="padding-right: 0px">
            <img src="~/Content/img/logo_ge_topo.jpg" alt="GE Representações Ltda." style="border-radius: 50%;"/>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"></button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Tarefas", "Index", "Tarefas", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Clientes", "Index", "Cliente", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Vendedor", "Index", "Vendedor", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Fornecedor", "Index", "Fornecedor", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Região", "Index", "Regiao", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Estado", "Index", "Estado", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Histórico", "Index", "Historico", new { }, new { @class = "nav-link" })
                </li>
            </ul>
            <form class="form-inline col-sm-4" action="@Url.Action("Pesquisar", "Cliente")">
                <input class="form-control col-sm-7" type="text" name="termo" placeholder="Pesquise uma empresa" aria-label="Search">
                <button class="btn btn-outline-success col-sm-5" type="submit">Buscar Empresas</button>
            </form>
            <div class="float-right text-right" style="padding-left: 0px;">
                <span class="text-muted">@ViewBag.DataAtual</span><br />
                <span class="text-muted"><i class="fa fa-user"></i> @ViewBag.Usuario</span>
                <span class="text-white">|</span>
                @Html.ActionLink("Sair", "LogOut", "Login", new { }, new { @class = "text-warning" })
            </div>
        </div>
    </nav>

    <main role="main" style="height: 85%; width: 85%; margin-bottom: 1%;">
        @RenderBody()
    </main>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/Tarefas.js"></script>

</body>
</html>
