@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contVendedor = 0;
}

@*<div class="row">
    <div class="col-12">
        <h4 class="display-4" style="color: orange">Tarefas Diárias - @DateTime.Now.ToString("dd/MM/yyyy")</h4>
    </div>    
</div>*@

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            @foreach (var item in ViewBag.Vendedores)
            {
                <li class="nav-item @(item.IdVendedor == (int)ViewBag.IdVendedorLogado ? "active show" : "")">
                    <a class="nav-link" data-toggle="tab" href="#vendedor@(item.IdVendedor)" role="tab">@item.NomeVendedor</a>
                </li>
            }
        </ul>
    </div>  
    
    <div class="col-12">
        <div class="tab-content">
            @foreach (var vendedor in ViewBag.Vendedores)
        {
            <div class="tab-pane fade in @(vendedor.IdVendedor == (int)ViewBag.IdVendedorLogado ? "active show" : "")" id="vendedor@(vendedor.IdVendedor)" role="tabpanel">
                @foreach (var cliente in ViewBag.Clientes)
            {
                if (cliente.IdVendedor == vendedor.IdVendedor)
                {
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header @cliente.CorCliente @(cliente.CorCliente == "bg-light" ? "" : "text-white")" id="cliente@(cliente.IdCliente)">
                                <button class="col-12 btn @cliente.CorCliente @(cliente.CorCliente == "bg-light" ? "" : "text-white")" data-toggle="collapse" onclick="tarefas.DetalharCliente(this)" data-target="#groupCliente@(cliente.IdCliente)" aria-expanded="true" aria-controls="groupCliente@(cliente.IdCliente)" data-url="@Url.Action("Detalhar", "Tarefas", new { idcliente = cliente.IdCliente })">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3 class="text-xl-left text-uppercase">@cliente.Nome</h3>
                                        </div>
                                        <div class="col-4">
                                            @if (cliente.Fornecedores != null)
                {
                    foreach (var empresas in cliente.Fornecedores)
                    {
                            <span class="badge badge-warning">@empresas.Sigla</span>
}
}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-left">
                                            <p class="badge badge-info text-left">@cliente.RegiaoDescricao</p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row text-left text-uppercase">
                                        <div class="col-4">
                                            <span>Último Contato: @(cliente.UltimoContato == null ? "(Não Realizado)" : cliente.UltimoContato.ToString("dd/MM/yyyy"))</span>
                                        </div>
                                        <div class="col-4">
                                            <span>Última Compra: @(cliente.UltimaCompra == null ? "(Não Realizado)" : cliente.UltimaCompra.ToString("dd/MM/yyyy"))</span>
                                        </div>
                                        <div class="col-4">
                                            <span>Próximo Contato: @(cliente.ProximoContato == null ? "(Não Realizado)" : cliente.ProximoContato.ToString("dd/MM/yyyy"))</span>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-4">
                                            <span><i class="fa fa-mobile-phone fa-lg"></i> @cliente.Contato</span>
                                        </div>
                                        <div class="col-4">
                                            <span><i class="fa fa-users fa-lg"></i> @cliente.Responsavel</span>
                                        </div>
                                        <div class="col-4">
                                            <span><i class="fa fa-envelope fa-lg"></i> @cliente.Email</span>
                                        </div>
                                    </div>
                                </button>


                            </div>

                            <div id="groupCliente@(cliente.IdCliente)" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                            </div>

                        </div>
                    </div>
            }
        }
            </div>
    }
        </div>
    </div>

    <div class="modal" id="modal">

    </div>

</div>
